.college-contator{
    display: flex;
    text-align: center;
    justify-content: center;
    background: #DDA853;
}
.college-logo{
    width: 50px;
    height: 50px;
    padding-top: 10px;
    color: #27548A;
}
.headline{
    color: #27548A;
    display: unset;
    padding-left: 20px;
}
.student-contanor{

   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding: 20px;
   margin: 10px 
}

.student-card{
    border-radius: 20px;
    border: 3px solid #DDA853;
    padding: 20px;
    margin: 10px;
    width: 350px;
    position: relative;
    background: #e2eaef;

}
.student-info-icon{
    color:#183B4E;
    width: 20px;
    height: 20px;
}
.student-gender{
    width: 130px;
    height: 150px;
    position: absolute;
    top: 10px;
    right: 10px
}
.student-name{
    color:#27548A;
}
.student-info{
    color:#27548A
}
.descripton{
    color:#27548A;
     display: flex;
    text-align: center;
    justify-content: center;
}
.sub-headline{
    text-align: center;
    color: #27548A
}