.college-contator{
    display: flex;
    text-align: center;
    justify-content: center;
    background: #DDA853;
}
.college-logo{
    width: 50px;
    height: 50px;
    padding-top: 10px;
    color: #27548A;
}
.headline{
    color: #27548A;
    display: unset;
    padding-left: 20px;
}
.sub-headline{
    text-align: center;
    color: #27548A
}
.student-contanor{

   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding: 20px;
   margin: 10px 
}

