.fottor{
    background-color: #27548A;
    color: #F5EEDC;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
    cursor: pointer;
}
.fotter-icons{
    color: #F5EEDC;
    padding: 5px;
    text-decoration: none;
}